services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: gateway
    container_name: gateway
    env_file:
      - .env
    ports:
      - "${ENV_SERVER_PORT}:8080"
    networks:
      - b2b-network

networks:
  b2b-network:
    external: true
